In [ ]:
import os
import pandas as pd
from datetime import datetime
import numpy as np
base_dir = "C://DATA//train//49_kaggle//KaggleFun//Sales//DATA"
cat = pd.read_csv(os.path.join(base_dir, "item_categories.csv"))
item = pd.read_csv(os.path.join(base_dir,'items.csv'))
sales = pd.read_csv(os.path.join(base_dir, 'sales_train.csv'))
shops = pd.read_csv(os.path.join(base_dir, 'shops.csv'))

In [ ]:
ds = sales.pivot_table(index = ['shop_id','item_id'],values = ['item_cnt_day'], columns = ['date_block_num'],fill_value = 0,aggfunc='sum')
ds.reset_index(inplace = True)
ds.head()

               shop_id item_id item_cnt_day                        ...        \
date_block_num                            0   1  2  3  4  5  6  7  ... 24 25
0                    0      30            0  31  0  0  0  0  0  0  ...  0  0
1                    0      31            0  11  0  0  0  0  0  0  ...  0  0
2                    0      32            6  10  0  0  0  0  0  0  ...  0  0
3                    0      33            3   3  0  0  0  0  0  0  ...  0  0
4                    0      35            1  14  0  0  0  0  0  0  ...  0  0


date_block_num 26 27 28 29 30 31 32 33
0               0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0

[5 rows x 36 columns]

In [ ]:
pd.set_option('display.max_columns', None)
price_ds = sales.pivot_table(index = ['shop_id','item_id'],values = ["item_price"], columns = ['date_block_num'],aggfunc=np.mean)
price_ds.reset_index(inplace = True)
price_ds.tail(50)

               shop_id item_id item_price                                \
date_block_num                          0      1        2      3      4
424074              59   22024        NaN  149.0      NaN    NaN    NaN
424075              59   22025        NaN    NaN      NaN    NaN    NaN
424076              59   22026        NaN    NaN      NaN    NaN    NaN
424077              59   22027        NaN    NaN      NaN    NaN    NaN
424078              59   22040        NaN    NaN  149.000    NaN    NaN
424079              59   22041        NaN    NaN      NaN    NaN    NaN
424080              59   22042        NaN    NaN      NaN    NaN    NaN
424081              59   22043        NaN    NaN      NaN    NaN    NaN
424082              59   22045        NaN    NaN      NaN    NaN    NaN
424083              59   22046        NaN    NaN      NaN    NaN    NaN
424084              59   22048        NaN    NaN      NaN    NaN    NaN
424085              59   22049        NaN    NaN      NaN    NaN  149.0
424086              59   22050        NaN    NaN      NaN    NaN    NaN
424087              59   22051        NaN    NaN      NaN    NaN    NaN
424088              59   22058        NaN    NaN      NaN    NaN    NaN
424089              59   22060        NaN    NaN      NaN    NaN    NaN
424090              59   22072        NaN    NaN      NaN    NaN    NaN
424091              59   22073        NaN    NaN      NaN    NaN    NaN
424092              59   22074        NaN    NaN      NaN    NaN    NaN
424093              59   22076        NaN    NaN      NaN  399.0  399.0
424094              59   22079       98.0    NaN      NaN    NaN    NaN
424095              59   22087       79.0   79.0   79.000    NaN   79.0
424096              59   22088       79.0    NaN   79.000   79.0   79.0
424097              59   22091        NaN    NaN  109.000    NaN  109.0
424098              59   22092      109.0    NaN  106.275  109.0  109.0
424099              59   22100        NaN    NaN      NaN    NaN    NaN
424100              59   22102        NaN    NaN      NaN    NaN    NaN
424101              59   22104        NaN    NaN      NaN    NaN    NaN
424102              59   22105        NaN    NaN      NaN    NaN    NaN
424103              59   22106        NaN    NaN      NaN    NaN    NaN
424104              59   22114        NaN    NaN      NaN    NaN  349.0
424105              59   22115        NaN    NaN      NaN    NaN  149.0
424106              59   22118        NaN    NaN      NaN    NaN    NaN
424107              59   22126        NaN    NaN      NaN    NaN    NaN
424108              59   22130      349.0  349.0      NaN    NaN    NaN
424109              59   22132        NaN    NaN      NaN    NaN    NaN
424110              59   22134      399.0  399.0      NaN    NaN    NaN
424111              59   22139        NaN    NaN      NaN    NaN    NaN
424112              59   22141        NaN    NaN      NaN    NaN    NaN
424113              59   22143        NaN    NaN      NaN    NaN    NaN
424114              59   22144        NaN    NaN      NaN    NaN    NaN
424115              59   22145        NaN    NaN      NaN    NaN    NaN
424116              59   22150        NaN    NaN      NaN    NaN    NaN
424117              59   22151      399.0    NaN  399.000    NaN    NaN
424118              59   22153        NaN    NaN      NaN    NaN    NaN
424119              59   22154      999.0    NaN      NaN    NaN    NaN
424120              59   22155        NaN    NaN      NaN    NaN    NaN
424121              59   22162        NaN    NaN      NaN    NaN    NaN
424122              59   22164        NaN    NaN      NaN    NaN    NaN
424123              59   22167        NaN    NaN      NaN    NaN    NaN

                                                                           \
date_block_num      5      6      7         8      9     10     11     12
424074            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424075            NaN  299.0    NaN  299.0000  299.0    NaN    NaN  149.0
424076          399.0  399.0  399.0       NaN  399.0    NaN    NaN    NaN
424077            NaN    NaN    NaN  149.0000    NaN    NaN  149.0  149.0
424078          149.0    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424079            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424080            NaN    NaN    NaN  399.0000    NaN    NaN    NaN    NaN
424081            NaN    NaN    NaN  149.0000  149.0    NaN    NaN    NaN
424082            NaN    NaN    NaN       NaN    NaN    NaN  399.0  399.0
424083            NaN    NaN    NaN       NaN    NaN    NaN  799.0  799.0
424084            NaN    NaN    NaN  399.0000    NaN    NaN    NaN    NaN
424085            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424086            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424087            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424088            NaN    NaN    NaN  399.0000  399.0    NaN    NaN    NaN
424089            NaN    NaN    NaN  664.0000    NaN    NaN    NaN    NaN
424090            NaN    NaN    NaN  349.0000  349.0  349.0    NaN  349.0
424091            NaN    NaN    NaN       NaN  449.1    NaN    NaN  499.0
424092            NaN    NaN    NaN       NaN    NaN    NaN  149.0    NaN
424093            NaN  449.0  224.5  248.5975    NaN    NaN  299.0    NaN
424094            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424095           79.0   79.0   79.0   79.0000   79.0   79.0   79.0   79.0
424096           79.0   79.0   79.0   79.0000    NaN   79.0   79.0   79.0
424097            NaN  109.0  109.0       NaN    NaN  109.0  109.0  109.0
424098            NaN  109.0  109.0  109.0000  109.0  109.0  109.0  109.0
424099            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424100            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424101            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424102            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424103            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424104            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424105            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424106            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424107            NaN    NaN    NaN       NaN    NaN  249.0    NaN  249.0
424108            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424109            NaN  149.0  149.0       NaN    NaN    NaN    NaN    NaN
424110            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424111            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424112            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424113            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424114            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424115            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424116            NaN  199.0  199.0       NaN    NaN    NaN    NaN    NaN
424117            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424118            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424119            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424120            NaN  149.0    NaN       NaN    NaN    NaN    NaN    NaN
424121            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424122            NaN    NaN    NaN       NaN    NaN    NaN    NaN    NaN
424123            NaN    NaN    NaN       NaN  299.0    NaN  299.0    NaN

                                                                            \
date_block_num      13     14     15       16     17     18      19     20
424074             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424075           99.33  149.0    NaN      NaN    NaN    NaN     NaN    NaN
424076             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424077             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424078             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424079             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424080             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424081             NaN  149.0    NaN      NaN    NaN    NaN     NaN    NaN
424082             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424083             NaN    NaN  199.0      NaN    NaN    NaN     NaN    NaN
424084             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424085             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424086             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424087             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424088          399.00    NaN  169.0      NaN  169.0    NaN  169.00    NaN
424089             NaN    NaN    NaN   332.67    NaN    NaN     NaN    NaN
424090             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424091             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424092             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424093          124.00  124.0    NaN    99.00    NaN    NaN   49.00    NaN
424094             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424095           79.00   79.0   79.0    79.00   79.0   79.0   79.00   79.0
424096           79.00   79.0   79.0    79.00   79.0   79.0   79.00   79.0
424097             NaN    NaN    NaN      NaN  109.0    NaN  109.00  109.0
424098          109.00    NaN  109.0   109.00  109.0  109.0  109.00  109.0
424099             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424100             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424101             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424102             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424103             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424104             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424105             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424106             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424107             NaN    NaN    NaN   149.00  149.0    NaN     NaN    NaN
424108             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424109             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424110             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424111             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424112             NaN  399.0    NaN      NaN    NaN    NaN     NaN    NaN
424113             NaN  349.0  349.0      NaN    NaN    NaN  349.00    NaN
424114             NaN    NaN    NaN  1499.00    NaN    NaN     NaN    NaN
424115             NaN  549.0    NaN      NaN    NaN    NaN     NaN  549.0
424116             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424117             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424118             NaN    NaN    NaN      NaN    NaN    NaN  135.33    NaN
424119             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424120             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424121             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424122             NaN    NaN    NaN      NaN    NaN    NaN     NaN    NaN
424123             NaN    NaN    NaN      NaN  299.0    NaN     NaN    NaN

                                                                              \
date_block_num     21     22      23          24     25     26     27     28
424074            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424075            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424076            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424077            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424078            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424079            NaN    NaN  449.38         NaN    NaN    NaN    NaN    NaN
424080            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424081            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424082            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424083            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424084            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424085            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424086            NaN  399.0     NaN  298.000000    NaN  198.0    NaN    NaN
424087            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424088            NaN    NaN     NaN  169.000000    NaN    NaN    NaN    NaN
424089            NaN    NaN  499.00         NaN    NaN    NaN    NaN    NaN
424090            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424091            NaN    NaN   99.00         NaN   99.0    NaN   99.0    NaN
424092            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424093           49.0    NaN   58.00   58.000000    NaN   28.0   28.0   28.0
424094            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424095           79.0   79.0   99.00  112.333333  119.0  119.0  119.0  119.0
424096           79.0   84.0   99.00   99.000000  119.0  119.0  119.0  119.0
424097          109.0  109.0  139.00  139.000000    NaN  159.0    NaN    NaN
424098          109.0  109.0  139.00  145.666667    NaN  179.0    NaN    NaN
424099            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424100            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424101            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424102            NaN    NaN     NaN  299.000000    NaN    NaN    NaN    NaN
424103            NaN    NaN     NaN  299.000000    NaN    NaN    NaN    NaN
424104            NaN    NaN     NaN         NaN    NaN    NaN   28.0    NaN
424105            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424106            NaN    NaN     NaN         NaN    NaN   99.0    NaN    NaN
424107            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424108            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424109            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424110            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424111            NaN    NaN     NaN  699.000000    NaN    NaN    NaN    NaN
424112            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424113            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424114            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424115            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424116            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424117            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424118            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424119            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424120            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN
424121            NaN    NaN     NaN         NaN  399.0  399.0  349.0  349.0
424122            NaN    NaN     NaN         NaN  749.0  749.0  699.0    NaN
424123            NaN    NaN     NaN         NaN    NaN    NaN    NaN    NaN


date_block_num      29     30      31     32      33
424074             NaN    NaN     NaN    NaN     NaN
424075             NaN    NaN     NaN    NaN     NaN
424076             NaN    NaN     NaN    NaN     NaN
424077             NaN    NaN     NaN    NaN     NaN
424078             NaN    NaN     NaN    NaN     NaN
424079             NaN    NaN     NaN    NaN     NaN
424080             NaN    NaN     NaN    NaN     NaN
424081             NaN    NaN     NaN  149.0     NaN
424082             NaN    NaN     NaN    NaN     NaN
424083             NaN    NaN     NaN    NaN     NaN
424084             NaN    NaN     NaN    NaN     NaN
424085             NaN    NaN     NaN    NaN     NaN
424086             NaN    NaN     NaN    NaN     NaN
424087           399.0    NaN     NaN    NaN     NaN
424088           129.0    NaN     NaN  129.0     NaN
424089             NaN    NaN     NaN  199.0     NaN
424090             NaN    NaN     NaN    NaN     NaN
424091             NaN    NaN     NaN    NaN     NaN
424092             NaN    NaN     NaN    NaN     NaN
424093             NaN   28.0     NaN    NaN     NaN
424094             NaN    NaN     NaN    NaN     NaN
424095           119.0  119.0   119.0  119.0   119.0
424096           119.0  119.0   119.0  119.0   119.0
424097             NaN    NaN     NaN  179.0   179.0
424098             NaN    NaN   179.0    NaN     NaN
424099             NaN    NaN     NaN  629.0   629.0
424100          1250.0    NaN  1250.0    NaN  1250.0
424101           249.0    NaN     NaN    NaN     NaN
424102             NaN  199.0   199.0    NaN     NaN
424103             NaN    NaN     NaN    NaN     NaN
424104             NaN    NaN     NaN    NaN     NaN
424105             NaN    NaN     NaN    NaN     NaN
424106             NaN    NaN     NaN    NaN     NaN
424107             NaN    NaN     NaN    NaN     NaN
424108             NaN    NaN     NaN    NaN     NaN
424109             NaN    NaN     NaN    NaN     NaN
424110             NaN    NaN     NaN    NaN     NaN
424111             NaN    NaN     NaN  499.0     NaN
424112             NaN    NaN     NaN    NaN     NaN
424113             NaN    NaN     NaN    NaN     NaN
424114             NaN    NaN     NaN    NaN     NaN
424115             NaN    NaN     NaN    NaN     NaN
424116             NaN    NaN     NaN    NaN     NaN
424117             NaN    NaN     NaN    NaN     NaN
424118             NaN    NaN     NaN    NaN     NaN
424119             NaN    NaN     NaN    NaN     NaN
424120             NaN    NaN     NaN    NaN     NaN
424121             NaN    NaN   349.0    NaN     NaN
424122             NaN  699.0     NaN    NaN     NaN
424123             NaN    NaN     NaN    NaN     NaN

In [ ]:
price_ds = price_ds.drop(["item_id", "shop_id"], axis=1)
price_ds.mean(axis=1)

0         265.0
1         434.0
2         221.0
3         347.0
4         247.0
          ...
424119    999.0
424120    149.0
424121    369.0
424122    724.0
424123    299.0
Length: 424124, dtype: float64

In [ ]:
price_ds["item_price"] = price_ds["item_price"].fillna(price_ds.mean(axis=1), axis=1)
price_ds.head(20)

NotImplementedError: Currently only can fill with dict/Series column by column

In [ ]:
item = item.set_index("item_id")

In [ ]:
ds["cat"] = ds.apply(lambda row: item.loc[row["item_id"].values[0]]["item_category_id"], axis=1)
ds.head()

               shop_id item_id item_cnt_day                                    \
date_block_num                            0   1  2  3  4  5  6  7  8  9 10 11
0                    0      30            0  31  0  0  0  0  0  0  0  0  0  0
1                    0      31            0  11  0  0  0  0  0  0  0  0  0  0
2                    0      32            6  10  0  0  0  0  0  0  0  0  0  0
3                    0      33            3   3  0  0  0  0  0  0  0  0  0  0
4                    0      35            1  14  0  0  0  0  0  0  0  0  0  0

                                                                               \
date_block_num 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
0               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

                  cat
date_block_num 33
0               0  40
1               0  37
2               0  40
3               0  37
4               0  40

In [ ]:
cols = ds.columns.tolist()
cols = cols[-1:] + cols[:-1]
ds = ds[cols]
ds.head()

               cat shop_id item_id item_cnt_day                              \
date_block_num                                0   1  2  3  4  5  6  7  8  9
0               40       0      30            0  31  0  0  0  0  0  0  0  0
1               37       0      31            0  11  0  0  0  0  0  0  0  0
2               40       0      32            6  10  0  0  0  0  0  0  0  0
3               37       0      33            3   3  0  0  0  0  0  0  0  0
4               40       0      35            1  14  0  0  0  0  0  0  0  0

                                                                               \
date_block_num 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
0               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0


date_block_num 31 32 33
0               0  0  0
1               0  0  0
2               0  0  0
3               0  0  0
4               0  0  0

In [ ]:
from tqdm import tqdm
def ds2ds(ds, price_ds, lag=10):
    new_ds = []
    test_ds = []
    for row, price_row in tqdm(zip(ds.iterrows(), price_ds.iterrows())):
        for i in range(33-lag):
            time = row[1]["item_cnt_day"][i:i+lag].tolist()
            temp_list = [row[1]["shop_id"].values[0], row[1]["item_id"].values[0], row[1]["cat"].values[0]]
            temp_list += time
            new_ds.append(temp_list)
        time = row[1]["item_cnt_day"][23:33].tolist()
        temp_list = [row[1]["shop_id"].values[0], row[1]["item_id"].values[0], row[1]["cat"].values[0]]
        temp_list += time
        test_ds.append(temp_list)
    return np.array(new_ds), np.array(test_ds)

In [ ]:
new_ds, test_ds = ds2ds(ds, price_ds, 10)
print(len(new_ds), len(test_ds))

424124it [5:46:20, 20.41it/s]

9754852 424124

In [ ]:
new_ds = new_ds[:,:13]
test_ds = test_ds[:,:13]

In [ ]:
print(new_ds.shape, test_ds.shape)

(9754852, 13) (424124, 13)

In [ ]:
%cd

/root

In [3]:
import pickle
import os
import numpy as np
base_dir = ""
# pickle.dump( new_ds, open( os.path.join(base_dir,"train_10.pkl"), "wb" ) )
# pickle.dump( test_ds, open( os.path.join(base_dir,"test_10.pkl"), "wb" ) )

In [4]:
from torch.utils.data import Dataset, DataLoader
class NumpyDataset(Dataset):
    def __init__(self, ds, lag):
        self.x_cat = ds[:,0:3]
        self.x_time = np.expand_dims(ds[:,3:-1], -1)
#         self.x_price = np.expand_dims(ds[:,3+lag:-1], -1)
        self.y = ds[:,-1]
    def __len__(self): 
        return len(self.y)
    def __getitem__(self, idx):
        return self.x_cat[idx], self.x_time[idx], self.y[idx]

In [5]:
train_ds = pickle.load(open( os.path.join(base_dir,"train_10.pkl"), "rb" ) )
test_ds = pickle.load(open( os.path.join(base_dir,"test_10.pkl"), "rb" ) )

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_ds[:,:-1] = scaler.fit_transform(train_ds[:,:-1])
test_ds[:,:-1] = scaler.transform(test_ds[:,:-1])

In [8]:
train_ds = NumpyDataset(train_ds, lag=10)
test_ds = NumpyDataset(test_ds, lag=10)

batch_size = 200

train_loader = DataLoader(train_ds, shuffle=True, batch_size=batch_size, drop_last = True)
test_loader = DataLoader(test_ds, shuffle=True, batch_size=batch_size, drop_last = True)

In [9]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

class Net(nn.Module):   
    def __init__(self, lag = 10, batch_size = 200):
        super(Net, self).__init__()
        self.hidden_size = 10
        self.lstm1 = nn.LSTM(1, hidden_size= self.hidden_size, num_layers = 2, batch_first=True)
        self.dropout = nn.Dropout(0.25)
        self.linear1 = nn.Linear(self.hidden_size * (lag-1), 32)
        
#         self.lstm2 = nn.LSTM(1, num_layers = 2, batch_first=True)
#         self.linear2 = nn.Linear((lag-1)*batch_size, 32)
        
        self.linear_layers = nn.Sequential(
            nn.Linear(3, 16),
            nn.Linear(16,32),
            nn.Dropout(0.25),
        )
        
        self.fc = nn.Sequential(
            nn.Linear(64,32),
            nn.BatchNorm1d(32),
            nn.Dropout(0.3),
            nn.Linear(32,1),
        )

    # Defining the forward pass    
    def forward(self, x1, x2):
        x1 = self.linear_layers(x1)
        x2, _ = self.lstm1(x2)
#         x3, _ = self.lstm2(x3)
        x2 = x2.contiguous().view(200,-1)
        x2 = self.linear1(x2)
        x2 = self.dropout(x2)
#         x3 = self.linear2(x3)
        
        x = torch.cat([x1, x2], axis = 1)
        x = self.fc(x)
        return x

In [10]:
device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
model = Net(lag=10)
model.to(device)
lr=0.05
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=lr)
epochs = 100
print(model)

Net(
  (lstm1): LSTM(1, 10, num_layers=2, batch_first=True)
  (dropout): Dropout(p=0.25, inplace=False)
  (linear1): Linear(in_features=90, out_features=32, bias=True)
  (linear_layers): Sequential(
    (0): Linear(in_features=3, out_features=16, bias=True)
    (1): Linear(in_features=16, out_features=32, bias=True)
    (2): Dropout(p=0.25, inplace=False)
  )
  (fc): Sequential(
    (0): Linear(in_features=64, out_features=32, bias=True)
    (1): BatchNorm1d(32, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (2): Dropout(p=0.3, inplace=False)
    (3): Linear(in_features=32, out_features=1, bias=True)
  )
)

In [ ]:
model.train()
loss_min = np.inf
for i in range(epochs):
    for batch_idx, (x1, x2, y) in enumerate(train_loader):
        x1, x2, y = x1.to(device).float(), x2.to(device).float(), y.to(device).float()
        model.zero_grad()
        output = model(x1, x2)
        loss = criterion(output.flatten(), y)
        loss.backward()
        optimizer.step()
        if batch_idx == 0:
            test_loss = []
            for xx1, xx2, yy in test_loader:
                xx1, xx2, yy = xx1.to(device).float(), xx2.to(device).float(), yy.to(device).float()
                model.zero_grad()
                yyout = model(xx1, xx2)
                test_loss.append(criterion(yyout.flatten(), yy).detach().cpu().numpy())
            print("Epoch: {}, Loss: {:.2f}, Val Loss: {:.2f}".format(i, loss, np.mean(test_loss)))

Epoch: 0, Loss: 0.37, Val Loss: 24.25
Epoch: 1, Loss: 0.62, Val Loss: 23.05
Epoch: 2, Loss: 0.71, Val Loss: 23.15
Epoch: 3, Loss: 6.31, Val Loss: 23.99
Epoch: 4, Loss: 0.50, Val Loss: 23.28
Epoch: 5, Loss: 0.71, Val Loss: 23.14
Epoch: 6, Loss: 0.74, Val Loss: 23.45
Epoch: 7, Loss: 0.93, Val Loss: 23.36
Epoch: 8, Loss: 2.52, Val Loss: 23.63
Epoch: 9, Loss: 5.21, Val Loss: 23.20
Epoch: 10, Loss: 2.52, Val Loss: 24.06
Epoch: 11, Loss: 0.97, Val Loss: 23.52
Epoch: 12, Loss: 0.60, Val Loss: 23.78
Epoch: 13, Loss: 1.72, Val Loss: 23.32
Epoch: 14, Loss: 0.26, Val Loss: 23.49
Epoch: 15, Loss: 2.74, Val Loss: 23.91
Epoch: 16, Loss: 0.58, Val Loss: 23.58
Epoch: 17, Loss: 3.91, Val Loss: 23.47
Epoch: 18, Loss: 0.70, Val Loss: 23.53
Epoch: 19, Loss: 2.74, Val Loss: 25.47
Epoch: 20, Loss: 1.85, Val Loss: 23.65
Epoch: 21, Loss: 0.73, Val Loss: 23.44
Epoch: 22, Loss: 0.35, Val Loss: 23.43
Epoch: 23, Loss: 0.99, Val Loss: 23.40
Epoch: 24, Loss: 0.44, Val Loss: 23.39
Epoch: 25, Loss: 1.49, Val Loss: 23.55
Epoch: 26, Loss: 0.66, Val Loss: 23.25
Epoch: 27, Loss: 15.00, Val Loss: 43.38
Epoch: 28, Loss: 1.05, Val Loss: 23.23
Epoch: 29, Loss: 5.78, Val Loss: 23.21
Epoch: 30, Loss: 0.95, Val Loss: 23.25
Epoch: 31, Loss: 13.79, Val Loss: 29.43
Epoch: 32, Loss: 0.63, Val Loss: 23.45
Epoch: 33, Loss: 4.09, Val Loss: 23.83
Epoch: 34, Loss: 0.37, Val Loss: 23.16
Epoch: 35, Loss: 0.76, Val Loss: 23.58
Epoch: 36, Loss: 0.81, Val Loss: 23.46
Epoch: 37, Loss: 0.66, Val Loss: 23.27
Epoch: 38, Loss: 15.22, Val Loss: 23.54
Epoch: 39, Loss: 0.65, Val Loss: 23.49
Epoch: 40, Loss: 0.56, Val Loss: 23.40
Epoch: 41, Loss: 0.81, Val Loss: 23.25
Epoch: 42, Loss: 0.64, Val Loss: 23.09
Epoch: 43, Loss: 1.57, Val Loss: 23.34
Epoch: 44, Loss: 0.44, Val Loss: 22.99
Epoch: 45, Loss: 4.77, Val Loss: 23.11
Epoch: 46, Loss: 0.43, Val Loss: 23.49
Epoch: 47, Loss: 0.63, Val Loss: 23.32
Epoch: 48, Loss: 0.85, Val Loss: 23.43
Epoch: 49, Loss: 0.23, Val Loss: 23.74
Epoch: 50, Loss: 0.69, Val Loss: 23.49
Epoch: 51, Loss: 0.78, Val Loss: 23.63
Epoch: 52, Loss: 0.63, Val Loss: 23.87
Epoch: 53, Loss: 0.39, Val Loss: 23.63
Epoch: 54, Loss: 0.56, Val Loss: 23.64
Epoch: 55, Loss: 0.40, Val Loss: 23.74
Epoch: 56, Loss: 0.60, Val Loss: 23.76
Epoch: 57, Loss: 0.69, Val Loss: 23.91
Epoch: 58, Loss: 0.36, Val Loss: 23.72
Epoch: 59, Loss: 0.68, Val Loss: 23.75
Epoch: 60, Loss: 3.41, Val Loss: 25.56
Epoch: 61, Loss: 1.12, Val Loss: 23.58
Epoch: 62, Loss: 0.58, Val Loss: 23.11
Epoch: 63, Loss: 8.67, Val Loss: 23.56
Epoch: 64, Loss: 0.49, Val Loss: 23.59
Epoch: 65, Loss: 2.82, Val Loss: 23.46
Epoch: 66, Loss: 1.86, Val Loss: 24.48
Epoch: 67, Loss: 0.37, Val Loss: 23.76
Epoch: 68, Loss: 0.74, Val Loss: 23.82
Epoch: 69, Loss: 0.85, Val Loss: 23.85
Epoch: 70, Loss: 1.30, Val Loss: 23.86
Epoch: 71, Loss: 289.80, Val Loss: 23.84
Epoch: 72, Loss: 0.63, Val Loss: 23.86
Epoch: 73, Loss: 0.76, Val Loss: 23.79
Epoch: 74, Loss: 9.61, Val Loss: 29.11
Epoch: 75, Loss: 0.24, Val Loss: 23.78
Epoch: 76, Loss: 0.50, Val Loss: 23.86
Epoch: 77, Loss: 8.29, Val Loss: 23.82
Epoch: 78, Loss: 1.25, Val Loss: 23.72
Epoch: 79, Loss: 1.14, Val Loss: 23.84
Epoch: 80, Loss: 1.46, Val Loss: 23.80
Epoch: 81, Loss: 1.68, Val Loss: 23.83
Epoch: 82, Loss: 1.44, Val Loss: 23.82
Epoch: 83, Loss: 0.48, Val Loss: 23.77
Epoch: 84, Loss: 0.35, Val Loss: 23.89
Epoch: 85, Loss: 0.23, Val Loss: 23.91
Epoch: 86, Loss: 0.73, Val Loss: 23.74
Epoch: 87, Loss: 0.29, Val Loss: 23.84
Epoch: 88, Loss: 1.07, Val Loss: 23.91
Epoch: 89, Loss: 0.71, Val Loss: 23.85
Epoch: 90, Loss: 4.76, Val Loss: 23.83
Epoch: 91, Loss: 0.31, Val Loss: 23.79
Epoch: 92, Loss: 1.04, Val Loss: 23.79
Epoch: 93, Loss: 0.49, Val Loss: 23.91
Epoch: 94, Loss: 0.89, Val Loss: 23.85
Epoch: 95, Loss: 0.68, Val Loss: 23.92
Epoch: 96, Loss: 0.76, Val Loss: 23.88
Epoch: 97, Loss: 1.08, Val Loss: 23.81
Epoch: 98, Loss: 0.59, Val Loss: 23.84
Epoch: 99, Loss: 3.22, Val Loss: 23.96

## This is pretty bad

In [ ]:
# https://www.kaggle.com/karanjakhar/simple-and-easy-aprroach-using-lstm